head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='keywords', content='')

    meta(name='description', content='Jug')
    title Le Jug c'est génial !

    link(rel="icon", type="image/png", href="favicon.ico")
    link(rel='stylesheet', href="bower_components/bootstrap/dist/css/bootstrap.css")
    // endbuild