footer
  div
    ul
      li Blablabla
      li Blablabla
      li Blablabla
      li Blablabla
      li Blablabla

  div
    ul
      li Blablabla
      li Blablabla
      li Blablabla
      li Blablabla
      li Blablabla


script(src="#{bowerPath}jquery/dist/jquery.js")
