body

    .collapse.navbar-collapse#navbar-collapse-1
      .container-fluid.menu1
        ul.nav.navbar-nav.navbar-right
          li
            a(href="./compte.html", title="Accédez à votre compte")
              span Connexion utlilisateur
              | Se connecter
          li
            a(href="#", title="Créez votre compte")
              span Inscription utilisateur
              | Créer un compte
          li
            a(href="./compte.html", title="Contacts").bordered
              span contact
              | Accès commerçants
